---
layout:     post
title:      Program language
subtitle:   Python vs. C++
date:       2019-09-21
author:     BY GS
published: true
header-img: image/rawa-sun-falling.jpg
catalog: true
tags:
    - computer program language
---

<h1> how to choose languae?</h1>
<p><strong> how to choose language? </strong> </p>